# FJSON
The ```functional-json``` enhanced JSON object.

{{#module name="functional-json"}}
{{#function name="stringify"}}
{{>method parent="FJSON"}}
{{/function}}
{{#function name="parse"}}
{{>method parent="FJSON"}}
{{/function}}
{{/module}}
